[dropbox]
row=4
col=1

[pintos]
row=5
col=0

[note]
row=4
col=0

[pictures]
row=3
col=2

[public_html]
row=0
col=1

[downloads]
row=1
col=2

[movie]
row=3
col=1

[work]
row=5
col=1

[itlodge]
row=2
col=1

[algorithm]
row=6
col=0

[junior]
row=6
col=2

[fresher]
row=6
col=1

[self]
row=0
col=2

[script]
row=4
col=2

[vbox]
row=1
col=1

[test]
row=2
col=2

[git]
row=5
col=2

[16 GB Volume]
row=3
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

